# Node modules
node_modules/

# Logs
logs/
*.log

# Local MySQL configuration
config/config.json

# Database dumps
*.sql
*.sql.gz
*.sql.zip

# Environment variables file
.env

# Temporary files
tmp/
temp/
*.tmp

# Operating system files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
