<h1>Dashboard</h1>
{{#each posts}}
    <div>
        <h2>{{this.title}}</h2>
        <p>{{this.content}}</p>
        <button data-id="{{this.id}}" class="update-post">Update</button>
        <button data-id="{{this.id}}" class="delete-post">Delete</button>
    </div>
{{/each}}
<button id="new-post">New Post</button>
<script src="/js/post.js"></script>
